<% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %><br />
  </div>
<% end %>

<% if !flash[:error].blank? %>
  <div class="error">
    <%= flash[:error] %><br />
  </div>
<% end %>

<%= link_to("<< Back to List", users_path, :class => 'back-link') %>

<div class="users show">
  <h2>Show Users</h2>

  <table summary="Users Detail View" border=1>
    <tr>
      <th>First Name</th>
      <td><%= @user.first_name %></td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td><%= @user.last_name %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>Password</th>
      <td><%= @user.password %></td>
    </tr>
  </table>

</div>
